body,html{
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
}



.container{
    width: 70%;
    height: 100%;
    overflow: hidden;
    float: left;
    background: url(bg.jpg) center;
}

.login{
    position: fixed;
    overflow: hidden;
    width: 100%;
    max-width: 500px;
    right: 0;
    margin: 0;
    background: white;
    height: 100%;
    z-index: 1;
}

.login form{
    margin: 160px 30px;
}

.login h2{
    font-size: 30px;
    color: #2d3436;
    margin-left: 150px;
}

.login label{
    display: block;
    font-size: 18px;
    font-weight: 700;
    margin: 8px 0;
}

.txtp{
    width: 100%;
    padding: 8px 0;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
}

.check{   
    margin: 8px 0;
}

.btn{
    margin-top: 10px;
    display: block;
    float: right;
    font-size: 18px;
    background: #34495e;
    color: white;
    padding: 8px 50px;
    border: none;
    border-radius: 5px;
    
}

.btn:hover{
    background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
}

